@using Microsoft.Extensions.Options
@using CrypToadzChained.Shared
@inherits LayoutComponentBase
@inject IOptionsSnapshot<Web3Options> Options

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://rinkeby.etherscan.io/address/@Options.Value.ContractAddress#code" 
               data-toggle="tooltip" data-placement="bottom" title="Etherscan currently truncates data URIs, using it directly will produce incorrect results!"
               target="_blank">View On Etherscan</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <footer>
            <div class="container" style="margin-top:10px">
                <div class="alert alert-info">
                    <span class="text-muted">To the extent possible under law, the artist known as Gremplin has waived all copyright and related or neighboring rights to CrypToadz by Gremplin.
                        This work is published from: United States.</span>
                </div>
            </div>
        </footer>
    </main>
</div>
