@inherits LayoutComponentBase
@inject IOptionsSnapshot<Web3Options> _options

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://cryptoadz.io" target="_blank">Visit CrypToadz</a>
            <a href="https://etherscan.io/address/@_options.Value.OnChainContractAddress#code"
               data-toggle="tooltip" data-placement="bottom" title="Etherscan currently truncates data URIs, using it directly will produce incorrect results!"
               target="_blank">View On Etherscan</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <footer class="footer">
            <div class="container" style="margin-top:10px">
                <div class="alert alert-info">
                    <h3 class="text-muted">To the extent possible under law, the artist known as Gremplin has waived all copyright and related or neighboring rights to CrypToadz by Gremplin.
                        This work is published from: United States.</h3>
                </div>
            </div>
        </footer>
    </main>
</div>
